body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
.buildname {
    color: rgb(145, 145, 145);
}
.buildname:hover {
    color: black;
}


.id1 {
    color: rgb(248, 25, 129);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.id2 {
    border-bottom: 2px solid rgb(88, 86, 86);
    border-radius: 5px;
    background-color: beige;
    padding: 10px;
    height:200px;
}

.id3 {
    border: 1px solid rgb(88, 86, 86);
    border-radius: 5px;
    transition: 0.5s ease;
    width:100%;
    max-width: 450px;
}
.id3:hover {
    border: 2px solid rgb(223, 219, 219);
    padding: 4px;
    
} 
.id3 a:hover {
    text-decoration: none;
}

.id4 {
    border-top: 1px solid rgb(214, 212, 212);
    padding-top: 12px;
}

.id5 {
    border: 1px solid rgb(216, 213, 213);
    border-radius: 5px 10px 5px;
    margin: 15px;
    padding: 7px;
}

#footer {
   left: 0;
   bottom: 0;
   padding-top: 4px;
   padding-bottom: 5px;
   width: 100%;
   background-color: rgb(34, 32, 32);
   color: white;
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
}

.special{
    color:green;
}

.mynav {
    background-color: white;
    border-radius: 0px;
    border: 0px;
    padding: 10px;
    box-shadow: 3px 5px 5px 1px #dfdcdc;;
}

.logo {
    width: 4rem;
    height: 4rem;
}

.dropmenu {
    background-color: white;
    padding-top: -5px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-top: -20px;
}
.home {
    margin-top: -10px;
    padding-top: -10px;
}
.circle {
    padding-left: 25%;
}

#addprojecticon span{
    color: red;
}

#signupicon span{
    color: rgb(45, 245, 45);
}

#loginicon span{
    color: blueviolet;
}

#addprojecticon a:hover{
    color: rgb(223, 226, 37);
}

#signupicon a:hover{
    color: rgb(45, 245, 45);
}

#loginicon a:hover{
    color: blueviolet;
}

#account a{
    color: rgb(97, 96, 96);
}

#account a:hover{
    color: rgb(92, 238, 231);
}

#account {
    color: aqua;
}

.xbuild {
    color: red;
}

.main{
    margin: 50px 0px;
}