body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
#buildname {
    color: rgb(145, 145, 145);
}
#buildname:hover {
    color: black;
}


.id1 {
    color: rgb(248, 25, 129);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.id2 {
    border-bottom: 2px solid rgb(88, 86, 86);
    border-radius: 5px;
    background-color: beige;
    padding: 10px;
    height:200px;
}

.id3 {
    border: 0.5px solid rgb(88, 86, 86);
    border-radius: 5px;
    box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.75);
    transition: 0.35s ease;
    width:100%;
    max-width: 450px;
}
.id3:hover {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    
} 
.id3 a:hover {
    text-decoration: none;
}

.id4 {
    border-top: 1px solid rgb(214, 212, 212);
    padding-top: 12px;
}

.id5 {
    border: 1px solid rgb(216, 213, 213);
    border-radius: 5px 10px 5px;
    margin: 15px;
    padding: 7px;
}

#footer {
    position: fixed;
   left: 0;
   bottom: 0;
   padding-top: 4px;
   padding-bottom: 5px;
   width: 100%;
   background-color: rgb(49, 48, 48);
   color: rgb(55, 217, 238);
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
}

.special{
    color:green;
}

.mynav {
    background-color: white;
    border-radius: 0px;
    border: 0px;
    padding: 10px;
    box-shadow: 3px 5px 5px 1px #dfdcdc;;
}

.dropmenu {
    background-color: white;
    padding-top: -5px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-top: -20px;
}
.home {
    margin-top: -10px;
    padding-top: -10px;
}
.circle {
    padding-left: 25%;
}

#addprojecticon span{
    color: red;
}

#signupicon span{
    color: rgb(45, 245, 45);
}

#loginicon span{
    color: blueviolet;
}

#addprojecticon a:hover{
    color: rgb(223, 226, 37);
}

#signupicon a:hover{
    color: rgb(45, 245, 45);
}

#loginicon a:hover{
    color: blueviolet;
}

#account a{
    color: rgb(97, 96, 96);
}

#account a:hover{
    color: rgb(92, 238, 231);
}

#account {
    color: aqua;
}

.xbuild {
    color: red;
}

.main{
    margin-top: -20px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: absolute;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: rgb(31, 31, 31);
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: rgb(197, 194, 194);
  color: rgb(20, 20, 20);
}

/* div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
} */

@media screen and (max-width: 700px) {
.sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
.sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
.sidebar a {
    text-align: center;
    float: none;
  }
}

.mycontainer {
    display: contents;
}

.myprofile {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    height: 100vh;
    background-color: #dfdcdc;
}
.profilecard {
    border-radius: 5px;
    box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.75);
    margin-top: 50px;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 350px;
    justify-content: center;
    background-color: white;
}
.profile {
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.details {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 300px;
    margin-left: 10px;
    align-items: center;
    flex-direction: column;
}

.details p{
    color: rgb(90, 89, 89);
}

.details p b{
    color: black;
}

.myimgcont {
    width: 100%;
    max-width: 200px;
}

.editbtn {
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}
