{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="static/images/icon2.ico" type="image/x-icon">
    <title>Build with X</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>
    {% block navbar %} <!-- In home page i want to display navbar with different style -->
       {% include 'includes/navbar.html' %}
    {% endblock navbar %}

    {% block content %}
    {% endblock content %}
    <div id="footer">
        <a href="https://github.com/aanu1143"><i class="glyphicon glyphicon-user"></i> By Aanu</a>
    </div>
</body>

</html>
