{% extends 'profile_detail.html' %}

{% block title %}Update Profile{% endblock title %}

{% block data %}
    <div class="projectclass">
        <h2>My Project</h2>
            {% for project in object_list %}
            <div class="myproject">
                    <div class="projectstyle">
                       <a href="{% url 'project_detail' project.id %}" class="projectlist"><p>{{ project.project_name }} </p></a>
                            <div class="projectedit">
                                <a href="{% url 'edit_project' project.id %}"> <input type="button" value="Edit"> </a>
                                <a href="{{ project.url }}"><input type="button" value="View"></a> 
                                <a href="{% url 'delete_project' project.id %}"><input type="button" value="Delete"></a>
                            </div>
                    </div>
            </div>
            {% endfor %}
            <a href="{% url 'new_project' %}" class="addprobtn"><span class="glyphicon glyphicon-plus"></span>Add more</a>
    </div>
{% endblock data %}