{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
<div class="signuppage">
    <div class="signupclass">
        <h2>Sign Up</h2>
        <div  class="loginform">
            <form method="post" enctype="multipart/form-data" class="loginform">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}